/* Para garantir que o app ocupe a tela toda */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --primary-color: #b554b5; /* rosa  */
  --primary-color-hover: #863D86; /* rosa mais escuro */
  --bg-color: #0d0c11; /* preto */
  --bg-color2: #191821; /* Cinza escuro */
  --bg-color2-hover: #191821a8; /* Cinza escuro mais claro */
}

/* Adicionando um estilo de scroll mais sutil para o feed FINTA */
.snap-mandatory::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* Animações dos Modais e Pop-ups */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@import 'tailwindcss'